<section class="tabla">
    <table class="table">
        <thead>
            <tr>
                <th *ngFor="let head of headTable">{{ head }}</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let data of ContactUserArray; let i = index">
                <td>{{ data.nombre }}</td>
                <td>{{ data.email }}</td>
                <td>{{ data.telefono }}</td>
                <td>{{ data.sujeto }}</td>
                <td>{{ data.mensaje }}</td>
                <td><button mat-stroked-button routerLink="/table/{{ data.pais }}/table-filtered">{{ data.pais | titlecase }}</button></td>
                <td><i class="material-icons" (click)="Eliminar(i)">delete</i></td>
            </tr>
        </tbody>
    </table>
</section>

<router-outlet></router-outlet>